# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore logs
logs/

# Ignore package-lock.json
package-lock.json

# Ignore .DS_Store files (Mac)
.DS_Store
